<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Arsha Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Jul 05 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Janajagruthi</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Memories</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          <li class="dropdown"><a href="#"><span>Logged In</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/login">Community</a></li>

              <li><a href="/treetag">Tag a tree</a></li>
            <li><a href="/makeEvent">Plan an event</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/maps">Explore</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Green Nation, Clean Nation</h1>
          <h2>We are team of talented designers making websites with Bootstrap</h2>


        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

<!-- ======= Upcoming Events Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Upcoming Events</h2>
          <p>Explore the exciting events hosted by Janajagriti Trust and embark on a journey of holistic well-being, learning, and community engagement!</p>
        </div>

        <div class="row">

            <%for(var i = 0; i < posts.length; i++){%>
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="card">
              <div class="card-header">
                <h4 class="event-title"><%= posts[i].title %></h4>
                <p class="event-date"><%= posts[i].date %></p>
              </div>
              <div class="card-body">
                <p class="event-description"><%=posts[i].content%></p>
                <div class="card-buttons">
                  <a href="/register" class="btn-join">Register</a>
                </div>
                </div>
                </div>
            </div>
            <%}%>
        </div>

    </section>
    <!-- End Upcoming events Section -->


        <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Memories</h2>

        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/portfolio/image-15.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Plantation</h4>



            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/portfolio/image-11.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Janmitram Kalyan Samiti</h4>


            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/portfolio/image-15.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4> Gram Chetna Kendra</h4>


            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/portfolio/image-11.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Environment Festival</h4>


            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/portfolio/image-15.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Student Activity Programs</h4>


            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/portfolio/image-11.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Play and enjoy</h4>

            </div>
          </div>



        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->



    <!-- ======= About Us Section ======= -->
    <!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">                                                                                                                                                              <div class="section-title">
  <h2>About Us</h2>
</div>

<div class="row content">
  <div class="col-lg-6">
    <p>
      Welcome to Janajagriti Trust, where we ignite curiosity and inspire holistic well-being. We are committed to nurturing children's minds, bodies, and spirits through innovative experiences that promote health, happiness, and personal growth.
    </p>
    <ul>
      <li><i class="ri-check-double-line"></i> Immerse yourself in a world of knowledge, where learning becomes an exciting adventure.</li>
      <li><i class="ri-check-double-line"></i> Discover the secrets of well-being through engaging activities, workshops, and transformative programs.</li>
      <li><i class="ri-check-double-line"></i> Empower children to make positive choices, build resilience, and lead balanced lives.</li>
    </ul>
  </div>
  <div class="col-lg-6 pt-4 pt-lg-0">
    <p>
      Janajagriti Trust is a beacon of inspiration, founded with a vision to revolutionize the way we approach well-being. We believe in the power of education, creativity, and community to foster a healthier and happier society. Through our diverse initiatives, we strive to empower children with the knowledge and tools they need to thrive in all aspects of life.
    </p>
    <p>
      Join us on this transformative journey as we cultivate a generation of compassionate, resilient, and well-rounded individuals. Together, let's create a world where every child's potential is realized and holistic well-being becomes a way of life.
    </p>
    <a href="#" class="btn-learn-more">Learn More</a>
  </div>
</div>
   </div>
</section><!-- End About Us Section -->
    </section><!-- End About Us Section -->



    <!-- ======= Contact Section ======= -->
    <!-- ======= Contact us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Contact</h2>
          <p>Reach out to Janajagriti Trust - where connections are made, ideas flourish, and dreams come to life!</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Headquarters:</h4>
                <p>#44, Kiran Nivas, Garden Street<br>Ramamurthynagar, Bangalore, Karnataka, India<br>Pin Code: 560016</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>sachin.revankar@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9886008199</p>
              </div>

              <div class="social-links">
                <h4>Follow us:</h4>
                <div class="social-icons">
                  <a href="https://www.linkedin.com/company/janajagriti/?originalSubdomain=in" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  <a href="https://www.facebook.com/janajagrititrust" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-7 mt-5 mt-lg-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.071699737163!2d77.67862881482568!3d13.014170090838979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1466e7e9c3df%3A0x15f05b89f7b6686a!2sRamamurthy%20Nagar%20Main%20Rd%2C%20Hoysalanagar%2C%20Bengaluru%2C%20Karnataka%20560016%2C%20India!5e0!3m2!1sen!2sus!4v1626315444295!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>

        </div>


      </div>
    </section><!-- End Contact us Section -->
  </main><!-- End #main -->



  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>