<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="styles/makeEvent.css">
    </head>
    <body>
      <div class="row">
    <div class="col-md-12">
      <form action="index.html" method="post">
        <h1> Make an Event </h1>

        <fieldset>

          <legend> Your Event Details</legend>

          <label for="name">Name of the Event</label>
          <input type="text" id="name" name="user_name">
          <label for="orgname">Name of the Organiser</label>
          <input type="text" id="orgname" name="user_name">
          <label for="date">Date of the Event</label>
            <input type="date" name="date" id="date" aria-label="Pick a date">
            <label for="bio">Description of the Event</label>
            <textarea id="bio" name="user_bio"></textarea>

        </fieldset>
        <fieldset>
         </fieldset>

        <button type="submit">Make Event</button>

       </form>
        </div>
      </div>

    </body>
</html>

</body>
</html>