<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tag Trees</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' type='text/css' media='screen' href='styles/maps.css'>
</head>
<body>

    <header style="background-color: rgba(71, 71, 150, 0.957);">
        <h1>Tagged trees</h1>
    </header>
    <main>
        <div id="map"></div>

    </main>

    <script src="script/maps.js"></script>
    <script src='http://www.bing.com/api/maps/mapcontrol?callback=getMap' async></script>
</body>
</html>